.home {
  background-image: url(./assets/fam.jpeg);
}
.backStyle {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grito {
  background-image: url(./assets/fam3.jpeg);
}
.orfa {
  color: rgba(226, 255, 212, 0.874);
  background-image: url(./assets/orfa.jpeg);
}
.orfa2 {
  color: rgba(255, 0, 187, 0.874);
  background-image: url(./assets/orfa2.jpeg);
}
.love {
  background-image: url(./assets/fam2.jpeg);
}
.love a {
  color: white;
  background-color: transparent !important;
}
.final {
  background-image: url(./assets/fam4.jpeg);
}
