* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
#root {
  min-height: 100vh;
}

img {
  width: 100%;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.main {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 5rem;
  text-align: center;
}
.main a {
  font-size: 3rem;
  margin-top: 10rem;
  padding: 3% 5%;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(240, 248, 235, 5.749);
  color: black;
  text-decoration: none;
}
.main a:hover {
  background-color: rgba(74, 190, 74, 0.764);
}
.main a:active {
  background-color: red;
}

.rainbow {
  text-align: center;
  letter-spacing: 5px;
  animation: colorRotate 6s linear 0s infinite;
}
@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
